body {
    background: linear-gradient(to left,rgb(93, 109, 255), rgb(255, 157, 77));
}

#grid {
    width:100vw;
    height:100vh;
    border: 1px black solid;
    display:grid;
    justify-content: center;
    /* align-content: center; */
    grid-template-columns: repeat(5, 65px);
    grid-template-rows: 100px (4, 65px);
    padding: 10% 20% 10% 20%;
}

#display {
    grid-column-start: 1;
    grid-column-end: 6;
    border:1px, black solid;
    background-color: aquamarine;
}

#equals {
    grid-row-end: span 2;
}

button {
    background-color: hsl(0, 0%, 93%, 70%);
    border:1px grey solid;
}

button:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 93%, 90%);
}

